{% extends "timeline.html" %}
{% block about %}
<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Us</h3>
    <p>

        <p>👋 Hello there! I'm Monil Patel, a passionate sophomore at Arizona State University with a fervor for coding and technology. Here at NYC, we believe in the power of innovation and the limitless possibilities that coding brings to the digital world.</P>
        
        <p>🖥️ Our website is a testament to the fusion of creativity and technical prowess. Crafted using a mix of HTML, CSS, and Javascript, every pixel and line of code is a reflection of our dedication to delivering a seamless and engaging user experience. Behind the scenes, we've harnessed the power of Django, a robust Python framework, to build a strong foundation for our site. The Django database ensures that your interactions with our platform are not only dynamic but also secure and efficient.</p>
        
        <p>💡 What sets us apart is not just the technology we use but the passion that fuels our work. We are on a mission to create a digital space that not only meets your expectations but exceeds them. Whether you're a fellow coder, a tech enthusiast, or someone just stepping into the world of programming, we welcome you to explore, learn, and share in our journey.</p>
        
        <p>🚀 Join us as we navigate the ever-evolving landscape of coding, and let's build something amazing together. Your adventure in the world of technology starts right here at NYC. Happy coding!</p>
    </p>
  </div>

  {% block feedback %}
  {% endblock feedback %}

  {% endblock about%}