{% extends 'home.html' %}
{% block body %}

<div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">New York Monuments</h3>
  </div>
  
  <div class="w3-row-padding">
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1565475783696-96001eff1b45?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%;height:300px">
              <p class="card-text"><center><h>Statue Of Liberty</h></center></p>
          </div>
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1555109307-f7d9da25c244?q=80&w=2946&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%;height:300px">
              <p class="card-text"><center><h>Empire State Building</h></center></p>
          </div>
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1501988100-fa77bbdb291e?q=80&w=2900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>Brooklyn Bridge</h></center></p>
          </div> 
      </div>
  </div>
  
  <div class="w3-row-padding">
      <!-- Repeat the above pattern for the next set of three images -->
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1582760548598-0bccdf815aa2?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>Time Square</h></center></p>
          </div> 
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1568515387631-8b650bbcdb90?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>Central Park</h></center></p>
          </div> 
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1656756544330-f7cb4d99a997?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>One World Trade Center</h></center></p>
          </div> 
      </div>
  </div>
  <div class="w3-row-padding">
      <!-- Repeat the above pattern for the next set of three images -->
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container"><center>
              <img src="https://images.unsplash.com/photo-1553440737-01fd5c1b43ab?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="height:300px; width: 250px"></center>
              <p class="card-text"><center><h>The Vessel</h></center></p></center>
              
          </div> 
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1501503125584-bb1da5f56d48?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>Grand Central Terminal</h></center></p>
          </div> 
      </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
          <div class="w3-display-container">
              <img src="https://images.unsplash.com/photo-1576164409874-dd7838ee8908?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="House" style="width:100%; height:300px">
              <p class="card-text"><center><h>The New York Public Library</h></center></p>
          </div> 
      </div>
  </div>
    </div>
  

    {%block timeline %}
    {%endblock timeline %}

{% endblock body %}



{% block title %}
Home
{% endblock title %}