{% extends 'body.html' %}

{% block timeline %}

<div class="w3-container w3-padding-32" id="Timeline">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Timeline Of Monuments</h3>
<section style="background-color: white">
    <div class="container py-5">
      <div class="main-timeline">
        <div class="timeline left">
          <div class="card">
            <div class="card-body p-4">
              <h3>1858</h3>
              <b><p class="mb-0">Central Park</p></b>
              <p><i>"Central Park is the greatest work of art in the United States, and one of the things that makes it so is the spirit of the people who keep it alive, keep it green, keep it safe, keep it beautiful, keep it a breathing place in the heart of a breathing city." ~ American poet and essayist, E.B. White</i></p>
              <p font-family: 'Cambria', serif;> Central Park, an urban oasis in the heart of Manhattan, captivates with its lush greenery and iconic landmarks. Spanning 843 acres, this meticulously designed public space offers a refuge from the city's hustle. From scenic lakes to cultural venues, Central Park weaves tranquility into the fabric of New York City. </p>
            </div>
          </div>
        </div>
        <div class="timeline right">
          <div class="card">
            <div class="card-body p-4">
              <h3>May 24, 1883</h3>
              <b><p class="mb-0">Brookyn Bridge</p></b>
              <p><i>"The bridge was to be beautiful; it was to be beautiful if it cost a million dollars; if it cost a hundred million dollars it was to be beautiful. The aesthetic was as important as the practical. It was to be a bridge for passage but also a bridge for beauty, a bridge for people but also a bridge for the ages." ~ Pulitzer Prize-winning author, David McCullough</i></p>
              <p font-family: 'Cambria', serif;> The Brooklyn Bridge, an iconic symbol of New York City, spans the East River with its majestic beauty. Completed in 1883, its neo-Gothic towers and intricate cablework showcase engineering marvels. Connecting Manhattan and Brooklyn, it stands as a testament to architectural innovation and urban connectivity. </p>
            </div>
          </div>
        </div>
        <div class="timeline left">
          <div class="card">
            <div class="card-body p-4">
              <h3>1886</h3>
              <b><p class="mb-0">Staue Of Liberty</p></b>
              <p><i>"Everywhere immigrants have enriched and strengthened the fabric of American life." ~ Former U.S. President, John F. Kennedy</i></p>
              <p font-family: 'Cambria', serif;>The Statue of Liberty, a colossal symbol of freedom, stands proudly in New York Harbor. With its torch held high and the tablet inscribed with the date of American independence, it beckons newcomers with a promise of liberty. As a testament to the nation's values, President John F. Kennedy eloquently remarked, "Everywhere immigrants have enriched and strengthened the fabric of American life," encapsulating the enduring spirit of inclusion embodied by the iconic statue.</p>
            </div>
          </div>
        </div>
        <div class="timeline right">
          <div class="card">
            <div class="card-body p-4">
              <h3>May 23, 1895</h3>
              <b><p class="mb-0">The New York Public Library</p></b>
              <p><i>"The only thing that you absolutely have to know, is the location of the library." ~ American poet and Librarian of Congress, Archibald MacLeish</i></p>
              <p>The New York Public Library, an iconic institution founded in 1895, stands as a literary sanctuary in the heart of Manhattan. With its majestic architecture and vast collections, it beckons book lovers and researchers alike. Housing over 53 million items, including rare manuscripts and ancient maps, the library is a beacon of knowledge, fostering intellectual curiosity and cultural enrichment.</p>
            </div>
          </div>
        </div>
        <div class="timeline left">
            <div class="card">
              <div class="card-body p-4">
                <h3>1904</h3>
               <b> <p class="mb-0">Time Square</p></b>
                <p><i>"Times Square is a symbol of the extraordinary possibilities that can be found in ordinary things." ~ American author, journalist, and musician, Mitch Albom</i></p>
              <p>Times Square, located in the heart of Manhattan, New York City, is a globally renowned entertainment and commercial hub. Formerly known as Longacre Square, it underwent a significant transformation and was renamed Times Square in 1904 after The New York Times moved its headquarters to the area. Today, it is synonymous with dazzling billboards, theaters, and the iconic New Year's Eve ball drop celebration.</p>
              </div>
            </div>
          </div>
        <div class="timeline right">
          <div class="card">
            <div class="card-body p-4">
              <h3>February 2, 1913</h3>
              <b><p class="mb-0">Grand Central Terminal</p></b>
              <p><i>"Grand Central Terminal: A symphony of arrivals, departures, and timeless elegance." ~ Travel Enthusiast, Lily Mitchell</i></p>
              <p>Grand Central Terminal, an iconic hub in the heart of Manhattan, transcends its role as a transportation center. With its Beaux-Arts architecture, celestial ceiling, and bustling energy, it's a living testament to New York's history and vitality. Serving as a gateway to the city, it encapsulates the spirit of constant motion and connectivity.</p>
            </div>
          </div>
        </div>
        <div class="timeline left">
          <div class="card">
            <div class="card-body p-4">
              <h3>April 11, 1931</h3>
              <b><p class="mb-0">Empire Statue Building</p></b>
              <p><i>"The Empire State Building stands as a majestic testament to human ambition, piercing the sky with a steel and concrete declaration that dreams have no limits." ~ pioneering aviator and the first female pilot to fly solo across the Atlantic Ocean, Amelia Earhart</i></p>
              <p>The Empire State Building, an iconic skyscraper in New York City, stands as a symbol of architectural marvel and human achievement. Completed in 1931, its Art Deco design and towering presence make it a timeless landmark, offering breathtaking views and showcasing the spirit of innovation and resilience in the heart of Manhattan.</p>
            </div>
          </div>
        </div>
        <div class="timeline right">
            <div class="card">
              <div class="card-body p-4">
                <h3>November 2, 2014</h3>
                <b><p class="mb-0">One World Trade Center</p></b>
                <p><i>"The One World Trade Center rises not just as a towering structure, but as a testament to our collective strength, resilience, and the unyielding human spirit in the face of adversity." ~ former U.S. Secretary of State, Condoleezza Rice</i></p>
              <p>The One World Trade Center, standing defiantly in Lower Manhattan, is a poignant symbol of resilience and hope. Completed in 2014, it honors the memory of the September 11 attacks and embodies the indomitable spirit of New York City. With its gleaming glass facade, it stands tall as a beacon of strength and renewal.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="timeline left">
        <div class="card">
          <div class="card-body p-4">
            <h3>March 15, 2019</h3>
            <b><p class="mb-0">The Vessel</p></b>
            <p><i>"The Vessel invites us to climb towards new perspectives, intertwining art and architecture to inspire a sense of wonder in our urban landscape." ~ renowned architect and Pritzker Prize laureate, Frank Gehry</i></p>
              <p>The Vessel, a striking honeycomb-like structure at Hudson Yards in New York City, stands as a captivating piece of interactive art and architecture. Comprising 154 interconnected staircases and offering panoramic views of the city, it fosters a unique blend of design and experience, inviting visitors to explore and engage with its dynamic form.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% block about %}
{% endblock about %}

{% endblock timeline %}

{% block title %}
Timeline
{% endblock title %}